* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

/* LAYOUT */

.row {    
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.reverse {
    flex-direction: row-reverse;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

/* Specifiche header */

nav {
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

.container nav {
    padding: 10px;
}

/* Specifiche main */

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
    height: 800px;
}

main section {
    padding: 40px;
}

main .container {
    height: 500px;
    display: flex;
}

/* Specifiche footer */

footer .row-footer-first {
    padding-top: 10px;
    padding-bottom: 40px;
    height: 500px;
    border: 0;
} 

footer .row-footer-second {
    margin-top: 40px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
} 

/* Impostazioni colonne */

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
    justify-content: center;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16 {
    width: calc(100% / 6);
}

/* DEBUG */

.debug .col-20, .col-40, .col-60, .col-16, .col-33 {
    padding: 5px;
    border: 1px solid black;
}

.debug li {
    display: contents;
}

.debug header {
    background-color: bisque;
    padding: 20px 0;
}

.debug .nav {
    background-color: burlywood;
}

.debug .header nav, div, ul, a {
    border: 1px solid black;
}

.debug .section-blue {
    background-color: rgb(39, 39, 92);
}

.debug .container-small {
    background-color: lightseagreen;
    min-height: 400px;
}

.debug .container-big {
    background-color: rgb(47, 122, 54);
}

.debug .section-gray {
    background-color: lightgray;
}

.debug footer {
    background-color: darkslategray;
}

.debug .footer-first {
    border-bottom: 2px solid gray;
}

.debug footer .row-footer-second {
    background-color: aquamarine;
}

.debug .col-40 {
    background-color: lightpink;
}

.debug .col-33 {
    background-color: salmon;
}

.debug .col-16 {
    background-color: mediumseagreen;
}

.debug main .col-60 {
    background-color: teal;
}

.debug .button-footer {
    background-color: darkviolet;
    padding: 5px;
    border: 1px solid black;
}